{% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static '/img/favicon.png' %}"
    />

    <title>CMS - Diamond Metals</title>

    <!-- vendor css -->
    <link
      href="{% static '/lib/@fortawesome/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static '/lib/ionicons/css/ionicons.min.css' %}"
      rel="stylesheet"
    />

    <!-- DashForge CSS -->
    <link rel="stylesheet" href="{% static '/css/dashforge.css' %}" />
    <link rel="stylesheet" href="{% static '/css/dashforge.auth.css' %}" />
  </head>
  <body>
    <div class="container col-lg-10 mg-t-5">
      <div class="card">
        <div class="card-header btn btn-primary bg-primary">
          <h3 class="tx-white">Register For Business</h3>
        </div>
        <div class="card-body">
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-row">
              <div class="form-group col-md-4 mb-0">
                <label style="font-weight: normal !important"
                  >ShopName<span class="tx-danger">*</span></label
                >
                {{ form.shop_name|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-0">
                <label style="font-weight: normal !important"
                  >Phone<span class="tx-danger">*</span></label
                >
                {{ form.phone|as_crispy_field }}
              </div>
              <div class="form-group col-md-4">
                <label style="font-weight: normal !important"
                  >Email <span class="tx-danger">*</span></label
                >
                {{ form.email|as_crispy_field }}
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-4 mb-0">
                <label style="font-weight: normal !important"
                  >No of workers<span class="tx-danger">*</span></label
                >
                {{ form.no_of_workers|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-0">
                <label style="font-weight: normal !important"
                  >Service Type<span class="tx-danger">*</span></label
                >
                {{ form.serivice_type|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-0">
                <label style="font-weight: normal !important"
                  >Status<span class="tx-danger">*</span></label
                >
                {{ form.status|as_crispy_field }}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12 mb-0">
                <label style="font-weight: normal !important"
                  >Address<span class="tx-danger">*</span></label
                >
                {{ form.address|as_crispy_field }}
              </div>
            </div>

            <div class="form-group col-md-4">
              <label style="font-weight: normal !important">Thumbnail</label>
              <input type="file" name="thumbnail" class="btn" />
            </div>
            <button class="btn btn-primary btn-block" type="submit">
              Next
            </button>
          </form>
        </div>
        <div class="divider-text">or</div>

        <div class="tx-13 mg-t-20 tx-center">
          Already have an account?
          <a href="{% url 'login_page' %}">Sign In</a>
        </div>
      </div>
    </div>

    <!-- content -->
  </body>
</html>
