{% extends 'pages/base.html' %}{% load crispy_forms_tags %}{% block content %}
<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0 mg-t-40">
  <div class="card">
    <div class="card-header bg-teal">
      <h3>Product Order form</h3>
    </div>
    <div class="card-body">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-3">
            <label style="font-weight: normal !important"
              >Quantity <span class="tx-danger">*</span></label
            >
            {{ form.quantity|as_crispy_field }}
          </div>
        </div>

        <div class="float-right">
          <a class="btn btn-danger" href="{% url 'home'%}">cancel</a>
          <button class="btn btn-primary" type="submit">submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- content -->

{% endblock %} {% block scripts %}

<script>
  $(".dateinput").datepicker();
</script>
{% endblock %}
