{% extends 'pages/base.html' %}{% load crispy_forms_tags %}{% block content %}
<div class="container col-lg-8 mg-t-40">
  <div class="card">
    <div class="card-header bg-teal">
      <h3>Order form</h3>
    </div>
    <div class="card-body">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            <label style="font-weight: normal !important"
              >Service<span class="tx-danger">*</span></label
            >
            {{ form.service|as_crispy_field }}
          </div>
          <div class="form-group col-md-3 mb-0">
            <label style="font-weight: normal !important"
              >Service Type<span class="tx-danger">*</span></label
            >
            {{ form.type|as_crispy_field }}
          </div>
          <div class="form-group col-md-3">
            <label style="font-weight: normal !important"
              >slot <span class="tx-danger">*</span></label
            >
            {{ form.slot|as_crispy_field }}
          </div>

          <div class="form-group col-md-3 mb-0">
            <label style="font-weight: normal !important"
              >total <span class="tx-danger">*</span></label
            >
            {{ form.total|as_crispy_field }}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.cart|as_crispy_field }}
          </div>
          <div class="form-group col-md-3 mb-0">
            {{ form.salon|as_crispy_field }}
          </div>
          <div class="form-group col-md-3 mb-0">
            {{ form.order_date|as_crispy_field }}
          </div>
          <div class="form-group col-md-3 mb-0">
            {{ form.order_status|as_crispy_field }}
          </div>
        </div>

        <div class="float-right">
          <a class="btn btn-danger" href="{% url 'home'%}">cancel</a>
          <button class="btn btn-primary" type="submit">submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- content -->

{% endblock %} {% block scripts %}

<script>
  $(".dateinput").datepicker();
</script>
{% endblock %}
