{% extends 'pages/base.html' %}{% load crispy_forms_tags %}{% block content %}
<div class="container col-lg-6 mg-t-10">
  <div class="card">
    <div class="card-header btn btn-primary">
      <h3>Add Product</h3>
    </div>
    <div class="card-body">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{form | crispy}}
        <div class="form-group col-md-4">
          <label style="font-weight: normal !important">Product Image</label>
          <input type="file" name="product_image" class="btn" />
        </div>
        <div class="float-right">
          <a class="btn btn-danger" href="{% url 'salon_user'%}">cancel</a>
          <button class="btn btn-primary" type="submit">submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- content -->

{% endblock %}
