{% extends 'pages/base.html' %} {% load static %} {% block content %}

<div class="container col-lg-8">
  <div
    class="
      d-sm-flex
      align-items-center
      justify-content-between
      mg-b-20 mg-lg-b-25 mg-xl-b-30
    "
  >
    <div>
      <h4 class="mg-b-0 tx-spacing--1">Select Registration Purpose</h4>
    </div>
  </div>
  <div class="col-lg-12 col-xl-12 mg-t-10">
    <div data-label="Example" class="df-example">
      <div class="row">
        <div class="col-sm-6">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-mdb-ripple-color="light"
          >
            <div class="card baseBlock">
              <a href=""
                ><img
                  src="/static/images/beard.jpg"
                  class="card-img-top"
                  alt=""
                  data-holder-rendered="true"
              /></a>

              <div class="card-body">
                <a href="{% url 'register_page' %}"
                  ><h4 class="card-text btn btn-primary"><b>Customer</b></h4></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-mdb-ripple-color="light"
          >
            <div class="card baseBlock">
              <a href=""
                ><img
                  src="/static/images/beard.jpg"
                  class="card-img-top"
                  alt=""
                  data-holder-rendered="true"
              /></a>

              <div class="card-body">
                <a href="{% url 'busineess_register_page' %}"
                  ><h4 class="card-text btn btn-primary">
                    <b>Business Account</b>
                  </h4></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- df-example -->
  </div>
</div>
<!-- container -->

{% endblock %}
