{% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static '/img/favicon.png' %}"
    />

    <title>CMS - Diamond Metals</title>

    <!-- vendor css -->
    <link
      href="{% static '/lib/@fortawesome/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static '/lib/ionicons/css/ionicons.min.css' %}"
      rel="stylesheet"
    />

    <!-- DashForge CSS -->
    <link rel="stylesheet" href="{% static '/css/dashforge.css' %}" />
    <link rel="stylesheet" href="{% static '/css/dashforge.auth.css' %}" />
  </head>
  <body>
    <div class="content content-fixed content-auth">
      <div class="container">
        <div class="media align-items-stretch justify-content-center ht-100p">
          <div class="sign-wrapper mg-lg-r-50 mg-xl-r-60">
            <div class="pd-t-20 wd-100p">
              <h4 class="tx-color-01 mg-b-5">Create Salonzar Account</h4>
              <p class="tx-color-03 tx-16 mg-b-40">
                It's free to signup and only takes a minute.
              </p>
              <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %} {{form | crispy}}
                <!-- form-group -->
                <div class="form-group">
                  <label>Contact</label>
                  <input
                    name="contact"
                    class="form-control"
                    placeholder="yourname@yourmail.com"
                  />
                </div>
                <div class="form-group">
                  <label>Address</label>
                  <input
                    name="address"
                    class="form-control"
                    placeholder="yourname@yourmail.com"
                  />
                </div>

                <button class="btn btn-brand-02 btn-block">
                  Create Account
                </button>
              </form>
              <div class="divider-text">or</div>
              <button class="btn btn-outline-facebook btn-block">
                Sign Up With Facebook
              </button>
              <button class="btn btn-outline-twitter btn-block">
                Sign Up With Twitter
              </button>
              <div class="tx-13 mg-t-20 tx-center">
                Already have an account?
                <a href="{% url 'login_page' %}">Sign In</a>
              </div>
            </div>
          </div>
          <!-- sign-wrapper -->
          <div
            class="
              media-body
              pd-y-30 pd-lg-x-50 pd-xl-x-60
              align-items-center
              d-none d-lg-flex
              pos-relative
            "
          >
            <div class="mx-lg-wd-500 mx-xl-wd-550">
              <img src="/static/images/beard.jpg" class="img-fluid" alt="" />
            </div>
            <div class="pos-absolute b-0 r-0 tx-12">
              Social media marketing vector is created by
              <a href="https://www.freepik.com/pikisuperstar" target="_blank"
                >pikisuperstar (freepik.com)</a
              >
            </div>
          </div>
          <!-- media-body -->
        </div>
        <!-- media -->
      </div>
      <!-- container -->
    </div>
    <!-- content -->
  </body>
</html>
